{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row text-center">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-success float-end" href="{% url 'catalog:create' %}">Создать</a>
    </div>
        {% for item in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ item.title }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ item.price|floatformat:2 }}</h1>
                    <p class="list-unstyled mt-3 mb-4 text-start m-3">
                        {{ item.description|truncatechars:100 }}
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'catalog:product' item.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Посмотреть</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'catalog:edit' item.pk %}" type="button" class="btn btn-lg btn-block btn-outline-warning">Изменить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}